body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.nav{
    display: flex;
    gap: 30px;
}
.svyt{
    text-align: center;
    transition: 2s;
}
.svyt:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: grey;
}
.link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.yak{
    display: flex;
    justify-content: center;
}
.d{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.h{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.s{
    display: flex;
    justify-content: center;
}